{{ define "main" }}
   {{ partial "about.html" .}}
   {{ if .Site.Params.showAdvocacy }}
      {{ with .Site.GetPage "section" "advocacy" }}
         {{ .Scratch.Set "sectionId" "advocacy" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showSkills }}
      {{ partial "portfolio/skills.html" . }}
   {{ end }}
   {{ if .Site.Params.showCreations }}
      {{ with .Site.GetPage "section" "projects/creations" }}
         {{ .Scratch.Set "sectionId" "creations" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showContributions }}
      {{ with .Site.GetPage "section" "projects/contributions" }}
         {{ .Scratch.Set "sectionId" "contributions" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showPublications }}
      {{ with .Site.GetPage "section" "publications" }}
         {{ .Scratch.Set "sectionId" (default "Publications" .Site.Params.publicationsAlternateName) }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showExperience }}
       {{ partial "portfolio/experience.html" . }}
   {{ end }}
   {{ if .Site.Params.showEducation }}
       {{ partial "portfolio/education.html" . }}
   {{ end }}
   {{ if .Site.Params.showBlog }}
      {{ with .Site.GetPage "section" "blog" }}
         {{ .Scratch.Set "sectionId" "blog" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
{{ end }}
